head,
body {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

.topbar {
  width: 100vw;
  /* height: 400px; */
  background-color: rgb(255, 123, 0);
  text-align: center;
}

.bottom-bar {
  width: 100vw;
  background-color: rgb(255, 123, 0);
  text-align: center;
  color: white;
  padding: 10px;
}

.logo {
  margin: 15px;
}

.hero {
  background: url("bolo.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.conteudo {
  margin: auto;
  padding: 0px 40px;
  max-width: 1000px;
  color: rgb(255, 100, 0);
  margin-top: 100px;
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  color: rgb(255, 100, 0);
  margin-bottom: 40px;
}

ul,
ol,
p {
  color: black;
  font-size: 20px;
  line-height: 38px;
  font-weight: 600;

}

.cartão {
  margin: 70px;
  padding: 70px 40px;
  border-radius: 50px;
  transition: .4s;
  /* background-co▬lor: rgb(132, 132, 132); */
  /* box-shadow: -10px -10px 40px rgba(0, 0, 0, .1); */
  position: relative;
  left: 0px;
  top: 0px;
}

.cartão:hover {
  box-shadow: -10px -10px 40px rgba(0, 0, 0, .1);
  transition: .4s;
  position: relative;
  left: 10px;
  top: 10px;

}

.preparo {
  cursor: url("./cursor_preparo.png"), default;
}

.Ingredientes {
  cursor: url(cursor_ingredientes.png), default;
}

.adicionais {
  cursor: url(cursor_intrucoes.png), auto;
  line-height: 32px;
}

.botão-comprar {
  padding: 10px 20px;
  margin: 20px 20px;
  text-decoration: none;
  background-color: rgb(255, 123, 0);
  color: white;
  border-radius: 90px;
}

.botão-comprar:hover {
  text-decoration: underline white;
}